@using Spotify.Models
@model IEnumerable<Spotify.Models.Song>
@{
    ViewBag.Title = "Songs";
}
<h2>Songs</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>
        <td>
            @foreach (Artist artist in item.Artists)
            {
                @Html.ActionLink(artist.Name, "Index", "Artist", new { area = "", artistId = artist.ID },null)
            }
        </td>
        <td>
            <!--Html.ActionLink("Edit", "Edit", new { id=item.ID })-->
        </td>
    </tr>
}
    @Html.ActionLink("Previous 25", "Index", new {start = ViewBag.AllSongStart - 25}) | 
    @Html.ActionLink("Next 25", "Index", new { start = ViewBag.AllSongStart + 25 })
</table>
